# Gradle
.gradle/
build/
out/
classes/

# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
*.iws
out/
.idea_modules/

# VS Code
.vscode/
.code-workspace

# macOS
*.DS_Store
.DS_Store

# Minecraft
run/

# Replit
.upm/
.breakpoints

# Logs
logs/
*.log

# Forge
forge*_client.jar
forge*_server.jar
forge*_installer.jar
forge*_universal.jar